body {
  background-color: #232323;
}

h1 {
  color: white;
  text-align: center;
}


#whiteStripeArea{
  text-align: center;
  background: white;
  height: 30px;
}

.selected{
  background: #87A8F5;
}

.square {
  width: 30%;
  background: blue;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 35px;
}

#container {
  max-width: 680px;
  margin: 0 auto;
}
